.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}



//Prueba de diseño de botones 
// .
// .
// .
// @import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}


.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-family: 'Poiret One', cursive;
 font-size:2em;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}


.botones-estandard{
  font-size:4em;
  // hasta 599px
  @include for-size(phone-only) {    
    font-size:1.4em;
    // min-width: 287px;
    min-width: 100%;
    display: inline-block;
    
  }
  // desde 600px
  @include for-size(tablet-portrait-up) {    
    font-size:1.8em;
    // min-width: 404px;
    min-width: 100%;

    display: inline-block;
  }
  // desde 900px
  @include for-size(tablet-landscape-up) {    
    font-size:2em;
    min-width: 100%;

  }
  // desde 1024px. CASOS muy RAROS, se puede obviar
    @include for-size(tablet-landscape-xl) {    
      font-size:1.5em;
      min-width: 100%;
  }
  // desde 1200px
  @include for-size(desktop-up) {    
    font-size:1.7em;
    min-width: 100%;
  }
  // desde 1800px
  @include for-size(big-desktop-up) {    
     font-size:2em;
  }
}
/*Other Stylez*/
.wrap {
  margin:0 auto;
  // width:800px;
  width:100%;
  text-align:center;
  font-family: 'Poiret One', cursive;
  
  h1 {
    font-family: 'Poiret One', cursive;
    font-size:4em;
    // hasta 599px
    @include for-size(phone-only) {    
      font-size:2em;
    }
    // desde 600px
    @include for-size(tablet-portrait-up) {    
      font-size:3em;
    }
    // desde 900px
    @include for-size(tablet-landscape-up) {    
      font-size:3em;
    }
    // desde 1200px
    @include for-size(desktop-up) {    
      font-size:4em;
    }
    // desde 1800px
    @include for-size(big-desktop-up) {    
       font-size:6em;
    }

  }

  h2 {
    font-family: 'Poiret One', cursive;
    font-size:2em;

    @include for-size(phone-only) {    
      font-size:1.5em;
    }

    @include for-size(tablet-portrait-up) {    
      font-size:2em;

    }

    @include for-size(tablet-landscape-up) {    
      font-size:2em;

    }
    
    @include for-size(desktop-up) {    
      font-size:3em;
    }

    @include for-size(big-desktop-up) {    
       font-size:4em;
    }

  }


  .under{
    text-decoration: underline #1779ba;
  }
  .font-bold{
    font-weight: bold;
  }
}//wrap


.button-medium{
  font-size:1em;
}

.btn-margin-rg{
  margin-right: 1em;
}