.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}


// Custom scss for the form tab style used in Create-patient.php, appointment.php and other pages. written by MZ
/* body {font-family: Arial;} */

  /* Style the tab */
  .tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    border: none;
    background-color: #f1f1f1;
    margin-top: 3em;
  }
  
  .tablinks.active{
      border-radius: 10px 10px 0 0;
    }
  
  /* Style the buttons inside the tab */
  .tab button {
    font-weight: bold;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 27px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: $sweet-single-tab-background;
  }
  
  .tab.white-tab button.active {
    background-color: #fff;
    border-left: 1px solid $sweet-single-tab-background;
  }
  
  /* Style the tab content */
  .tabcontent {
    /* display: none; */
    min-height: 250px;
    padding: 20px 12px;
    border: 1px solid $sweet-single-tab-background;
    border-top: none;
    background-color: $sweet-single-tab-background;
    /* box-shadow: 5px 5px 10px; */
    box-shadow: 0 0 10px;


    .floated-label-wrapper{
      //min-height: 110px !important;
      label{
        text-align: left;
        font-weight: bold;
        padding: 0.5em 0;
      }
    }
    .floated-label-wrapper.checkbox-radio{
      //padding-bottom: 1rem;
      span{
        font-weight: bold;
        font-size: 14px;
      }

      label{
        text-align: left;
        font-weight: normal;
        padding: 0.5em 0;
      }
    }
    .floated-label-wrapper.checkbox-radio .separator-left{
      font-weight: bold !important;
    }

    .floated-label-wrapper.checkbox-radio.grid-content {
    padding-bottom: 1rem;
    }
  }
  
  .tabcontent.white-tab{
    border: 1px solid $sweet-single-tab-background;
    background-color: #fff;
    border-top: none
  }


  .top-bottom-spacer{
    min-height: 30px;
  }
  // Colposcopias.css ----------------------------- ####### *************************************************
  
  .archivos {
    font-family: sans-serif;
    /* width: 600px; */
    width: 100%;
    /* background: #ccc; */
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #1779ba; */
    border: 10px dotted #eee;
  }

  .archivos .preview ol{
    margin-left: 0;
  }

  .archivos .preview ol li{
    background: $sweet-sidebar !important;
  }

  .archivos .preview ol li p{
    color: $sweet-white;
  }

  .archivos .preview p {
    background: none;
    border: none;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;
  }
  .archivos ol {
    padding-left: 0;
  }

  .archivos li, .archivos div > p {
    background: $sweet-white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
  }

  .archivos img {
    max-width: 50px;
    width: 100%;
    height: 50px;
    order: 1;
  }

  .archivos p {
    line-height: 32px;
    padding-left: 10px;
  }

  .archivos label, .archivos button {
    /* background-color: #1779ba; */
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    height: auto;
    background-color: $sweet-sidebar;
    color: $sweet-white;
    font-size: 1.5em;
  }

  .archivos label:hover, .archivos button:hover {
    background-color: $sweet-sidebar-hover;
    color: $sweet-white;
  }

  .archivos label:active, .archivos button:active {
    background-color: black;
    color: $sweet-white;
  }

  .colpo-files-list{
    padding: 0.625rem;
  }